* {
    padding: 0;
    margin: 0;
}

/*Codigo para el Menu*/

body {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #5a6978;
}

.navbar-collapse {
    flex-grow: initial;
}

/*Codigo para el Calendario*/

.navbar-brand {
    font-size: 18px;
    text-align: left;
}

.container {
    font-size: 18px;
    background-color: #219F94;
    max-width: 100%;
    display: grid;
    row-gap:unset;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: 2px solid #ffffff;
}

.col:hover, li.active {
    background-color: #343f4b;
    transition:.4s;
}

/*Media Queries para tablet */

/*Media queries para tamaños de celular */
@media screen and (max-width:768px) {
    .container {
        font-size: 12px;
}
    footer ul {
        font-size: 0.8rem;
}
    .social__icon {
    font-size: 0.8rem;
    color: #ffffff;
}
}

@media screen and (max-width:480px) {
    .container {
        font-size: 4px;
}
footer ul {
    font-size: 0.6rem;
}
    .social__icon {
    font-size: 0.6rem;
    color: #ffffff;
}
}


/*Media queries para tamaños de celular */

footer {    
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5a6978;
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    height: 50px;
    margin-bottom: 0%;
}

.social__icon {
    font-size: 1.2rem;
    color: #ffffff;
}

@media screen and (max-width:768px) {
    footer ul {
        font-size: 1rem;
    }
    .social__icon {
    font-size: 1rem;
    color: #ffffff;
    }
}

@media screen and (max-width:480px) {
    footer ul {
    font-size: 0.8rem;
    }
    .social__icon {
    font-size: 0.8rem;
    color: #ffffff;
    }
}